
#################
## CodeBlocks
#################
*.cbTemp
*.cbp
*.depend
*.layout
obj/
bin/

#################
## QTCreator
#################
*.pro
*.pro.user
*.tmp
*.autosave

#################
## Others
#################
*.bat
*.dll
*.txt
old/
build*
